/*Normalizing Rules*/

* {
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    margin: 0;
}

img {
    max-width: 100%;
}

iframe {
    width: 100%;
}

model-viewer{
    width: 100%;
    height: 30vw;
}
/*End of Rules*/

body {
    font-family: "IBM Plex Sans", sans-serif;
}

header{
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    padding: 80px;
}

.grid-half {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.grid-column-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 25px;
}

.grid-column-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.purple {
    background: #A7ACC5;
}

.yellow {
    background: #FFD99D;
    
}

.pink {
    background: #FFB7B2;
    
}

.green {
    background: #9ADBCF;
    
}

p{
    font-size: 16 px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 32 px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

h2{
    font-size: 24 px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
}

a.logo{
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 10px;
}


.logo-sml {
    font-size: 26px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    text-align: right;
}

.logo-lrg{

    font-size: 86px;
    font-family: "IBM Plex Sans", monospace;
    text-transform: uppercase;
    font-weight: 700;
}

.primary-nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 35px;
}

.primary-nav a{

    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
    color: #000000;
}

.Button {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    background-color: #9ADBCF;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 23px;
    border: 2px solid #9ADBCF;
    transition: background-color 1000ms;
}

.Button:hover{
    color: #9ADBCF;
    background-color: transparent;
}